{% extends "main/base.html" %}

{% block title %}Bilim{% endblock title %}

{% block head %}{% endblock head %}

{% block body %}
        <main class="main">
      <div class="background">
        <div class="container">
          <section class="hero">
            <div class="hero__info">
              <h1 class="hero__title">
                Ы. Алтынсарин атындағы Ұлттық білім академиясы
              </h1>
              <div class="hero-gif--mobile">
                <img
                  class="hero__gif--image"
                  src="photos/assets/gifs/гифка-получилась-min.gif"
                  alt="gif"
                />
              </div>
              <h3 class="hero__subtitle">
                Ы. Алтынсарин атындағы Ұлттық білім академиясы
              </h3>
              <p class="hero__description">
                Барлық мүдделі тараптардың академиялық еркіндікті кеңейту және
                әлеуметтік жауапкершілікті арттыру негізінде білім берудің
                заманауи парадигмасын ілгерілетуге күш-жігерін біріктіретін
                республикалық ғылыми-педагогикалық орталық
              </p>
              <div class="hero__button-container">
                <a href="/news"><button class="hero__button">Академия туралы</button></a>
              </div>
            </div>
            <div class="hero__gif">
              <img
                class="hero__gif--image"
                src="photos/assets/gifs/гифка-получилась-min.gif"
                alt="gif"
              />
            </div>
          </section>
          <img
            class="ornament"
            src="photos/assets/images/ornament.png"
            alt="орнамент"
          />
          <section class="history">
            <div class="history__info">
              <h2 class="history__title">Академия тарихы</h2>
              <p class="history__description">
                Ы.Алтынсарин атындағы Ұлттық білім академиясының 100 жылдық
                тарихы бар. 1921 жылдың тамыз айында Қазақ АКСР астанасы
                Орынборда Халық ағарту халкоматы жанынан ғылыми-зерттеу
                жұмыстарын үйлестіруде алғашқы мемлекеттік мекеме – Академиялық
                орталық ашылды. 1933 жылы Педагогикалық ғылыми-зерттеу институты
                құрылды, ол 1951 жылы Педагогика ғылымдары ғылыми-зерттеу
                институты болып өзгерді.
              </p>
            </div>
            <div class="history__one-section  history__one-section--overlay history__one-section--white">
              <img
                class="history__image"
                src="photos/assets/images/lego-robot.png"
                alt="робот"
              />
              <p class="history__subtitle">Білім беру стандарты</p>
            </div>
            <div class="history__one-section history__one-section--white">
              <p class="history__subtitle--black" >
                <span id="hundred" class="barlow">100</span> жыл
              </p>
              <p class="history__subtitle--bottom"><span>1921</span> жыл.</p>
            </div>
            <div class="history__one-section">
              <div class="container-center">
                <img
                  class="history__altynsarin"
                  src="photos/assets/images/altynsarin.svg"
                  alt="Алтынсарин"
                />
              </div>
            </div>
            <div class="history__one-section history__one-section--overlay history__one-section--white">
              <img
                class="history__image"
                src="photos/assets/images/mobile.png"
                alt="телефон"
              />
              <p class="history__subtitle">Оқу жоспары</p>
            </div>
            <div class="history__one-section history__one-section--white">
              <p class="history__subtitle--black">
                <span id="thirteen" class="barlow">13</span> Ғылыми-әдістемелік
                ұсынымдар
              </p>
              <button class="history__button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="37"
                  height="32"
                  viewBox="0 0 37 32"
                  fill="currentColor"
                >
                  <path
                    d="M0 18.2857V13.7143H27.75L18.5 4.57143L20.8125 0L37 16L20.8125 32L18.5 27.4286L27.75 18.2857H0Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
            <div class="history__one-section history__one-section--overlay history__one-section--white">
              <img
                class="history__image"
                src="photos/assets/images/vr-glasses.png"
                alt="vr"
              />
              <p class="history__subtitle">Оқу бағдарламасы</p>
            </div>
            <div class="history__one-section history__one-section--overlay history__one-section--white">
              <img
                class="history__image"
                src="photos/assets/images/teacher.png"
                alt="мұгалім"
              />
              <p class="history__subtitle">Әдістемелік нұсқау хат</p>
            </div>
            <div class="history__one-section history__one-section--white">
              <p class="history__subtitle--black">
                <span id="three" class="barlow">3</span> Ғылыми журнал
              </p>
              <button class="history__button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="37"
                  height="32"
                  viewBox="0 0 37 32"
                  fill="currentColor"
                >
                  <path
                    d="M0 18.2857V13.7143H27.75L18.5 4.57143L20.8125 0L37 16L20.8125 32L18.5 27.4286L27.75 18.2857H0Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
            <div class="history__one-section history__one-section--overlay history__one-section--white">
              <img
                class="history__image"
                src="photos/assets/images/children.png"
                alt="балалар"
              />
              <p class="history__subtitle">Әдістемелік ұсынымдар</p>
            </div>
            <div class="history__one-section history__one-section--white">
              <p class="history__subtitle--black">
                <span id="eighteen" class="barlow">18</span> Ғылыми журнал
              </p>
              <button class="history__button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="37"
                  height="32"
                  viewBox="0 0 37 32"
                  fill="currentColor"
                >
                  <path
                    d="M0 18.2857V13.7143H27.75L18.5 4.57143L20.8125 0L37 16L20.8125 32L18.5 27.4286L27.75 18.2857H0Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </section>
          <section class="news">
            <div class="news__title-container">
              <h2 class="news__title lang" key="forteen">Жаңалықтар</h2>
              <img
                class="news__ornament"
                src="photos/assets/images/small-ornament.png"
                alt="ою"
              />
            </div>
            <div class="news__main-container">
              <div class="slider">

                  <!-- Первый слайд -->
                {% for el in news %}
                  <div class="item">
                      <article class="article news__article">
                <img
                  class="article__image"
                  src="photos/assets/images/article-main.png"
                  alt="адамдар"
                />
                <div class="article__info">
                  <div class="article__content">
                    <h3 class="article__title">
                      «{{ el.title }}»
                    </h3>
                    <p class="article__text">
                      {{ el.task }}
                    </p>
                  </div>
                  <p>{{ el.datab }}</p>
                </div>
              </article>
                  </div>
                {% endfor %}

                  <!-- Второй слайд -->



                  <!-- Кнопки-стрелочки -->
                  <a class="previous" onclick="previousSlide()">&#10094;</a>
                  <a class="next" onclick="nextSlide()">&#10095;</a>
              </div>
              <aside class="aside-news">
                <div>
                  {% for el in news %}
                  <article class="news__aside-article">
                    <a href="#" class="aside-article">
                      <h3 class="aside-article__title">{{ el.title }}</h3>
                      <p class="aside-article__date">{{ el.datab }}</p>
                    </a>
                  </article>
                  {% endfor %}
                </div>
                <div class="container-center">
                  <a href="/news"><button class="aside-news__button lang" key="fifteen">Барлық жаңалықтар</button></a>
                </div>
              </aside>
            </div>
          </section>
          <div class="divider">
            <img
              class="news__ornament"
              src="photos/assets/images/full-ornament.png"
              alt="ою"
            />
          </div>
          <section class="form__container">
            <form class="form" action="">
              <h2 class="form__title lang" key="sixteen">Кері байланыс</h2>
              <input class="form__input" id="" type="text" placeholder="Есіміңіз " />
              <input
                class="form__input"
                type="text"
                placeholder="Телефон нөміріңіз"
              />
              <textarea
                class="form__textarea"
                name=""
                id=" "
                cols="30"
                rows="10"
                placeholder="Ақпарат..."
              ></textarea>
              <p>
              <button type="submit" class="form__button lang" key="nineteen">Өтініш жіберу</button>
                <a href="/otziv"><button  class="form__button lang" key="twenty" style="margin-left: 100px;">Сурақ-жауап</button></a></p>
            </form>
            <div class="form__metadata">
              <img src="photos/assets/images/director1.png" alt="директор" />
              <p class="form__director">
                Бейсембаев Гани Бектаевич Академия президенті
              </p>
            </div>
          </section>
        </div>
      </div>
    </main>

{% endblock body %}