{% extends "main/base.html" %}

{% block title %}Bilim{% endblock title %}

{% block head %}{% endblock head %}

{% block body %}
        <main class="news main-others">
      <div class="container">
        <h1 class="news-page__title">Все новости</h1>
        <a class="news-card" href="#">
          <img class="news-card__image" src="../assets/images/news-image.png" alt="Картинка новости" />
          <div class="news-card-content">
            <h2 class="news-card__title">Заголовок</h2>
            <p class="news-card__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis corporis ducimus porro ratione tenetur? Accusamus
              aliquid aperiam corporis cum cupiditate eligendi esse eum illo
              laborum magni molestiae nihil, quisquam quo similique soluta unde
              vel voluptatem. Aliquid aspernatur commodi cupiditate, deleniti
              dicta doloribus enim facere libero molestias praesentium
              reiciendis, rem, repellendus.
            </p>
            <span class="date">30.07.2021</span>
          </div>
        </a>
        <a class="news-card" href="#">
          <img class="news-card__image" src="../assets/images/news-image.png" alt="Картинка новости" />
          <div class="news-card-content">
            <h2 class="news-card__title">Заголовок</h2>
            <p class="news-card__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis corporis ducimus porro ratione tenetur? Accusamus
              aliquid aperiam corporis cum cupiditate eligendi esse eum illo
              laborum magni molestiae nihil, quisquam quo similique soluta unde
              vel voluptatem. Aliquid aspernatur commodi cupiditate, deleniti
              dicta doloribus enim facere libero molestias praesentium
              reiciendis, rem, repellendus.
            </p>
            <span class="date">30.07.2021</span>
          </div>
        </a>
        <a class="news-card" href="#">
          <img class="news-card__image" src="../assets/images/news-image.png" alt="Картинка новости" />
          <div class="news-card-content">
            <h2 class="news-card__title">Заголовок</h2>
            <p class="news-card__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis corporis ducimus porro ratione tenetur? Accusamus
              aliquid aperiam corporis cum cupiditate eligendi esse eum illo
              laborum magni molestiae nihil, quisquam quo similique soluta unde
              vel voluptatem. Aliquid aspernatur commodi cupiditate, deleniti
              dicta doloribus enim facere libero molestias praesentium
              reiciendis, rem, repellendus.
            </p>
            <span class="date">30.07.2021</span>
          </div>
        </a>
        <a class="news-card" href="#">
          <img class="news-card__image" src="../assets/images/news-image.png" alt="Картинка новости" />
          <div class="news-card-content">
            <h2 class="news-card__title">Заголовок</h2>
            <p class="news-card__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis corporis ducimus porro ratione tenetur? Accusamus
              aliquid aperiam corporis cum cupiditate eligendi esse eum illo
              laborum magni molestiae nihil, quisquam quo similique soluta unde
              vel voluptatem. Aliquid aspernatur commodi cupiditate, deleniti
              dicta doloribus enim facere libero molestias praesentium
              reiciendis, rem, repellendus.
            </p>
            <span class="date">30.07.2021</span>
          </div>
        </a>
      </div>
    </main>
{% endblock body %}