@font-face {
  font-family: "Gotham-Book";
  src: url("../styles/fonts/Gotham-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-Black";
  src: url("../styles/fonts/Gotham-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("./Gotham-Light.ttf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../styles/fonts/Gotham-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-Thin";
  src: url("./Gotham-Thin.ttf");
}

@font-face {
  font-family: "Gotham-Ultra";
  src: url("./Gotham-Ultra.ttf");
}

@font-face {
  font-family: "Gotham-XLight";
  src: url("./Gotham-XLight.ttf");
}
